.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: $color-dark;
    padding: 0 20px;
}

.github {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.logo {
    font-family: "Satisfy", "Arimo";
    font-weight: bold;
    font-size: 30px;
    color: white;
}
